*:focus {outline: none;} 
.Bigdiv{
    width: 100%;
    height: 100%;
}
.Bigdiv-top{
    background: red;    
    width: 100%;
    height: 5em;
    line-height: 6em;
    padding-left: 1em;
}
.phoneLogin{
    font-size: 2em;
    color: white;
    margin-left: 3em;
}
.contentDiv{
    padding: 0 1em;
    text-align: center;
}
.inputCss{
    border: none;
    line-height: 4em;
    margin-top: 1rem;
}
.regBtn{
    margin-top: 2em;
    width: 100%;
    height: 3em;
    font-size: 1.5em;
    background: red;
    color:white;
    margin-bottom: 2em;
    border-radius: 1em;
}
.buttomDiv{
    text-align: center;
    margin-top: 10em;
}
.buttomDiv>ul{
    list-style: none;
    display: flex;
    margin-top: 5em;
    flex-direction: row;
}
.buttomDiv>ul>li{
    text-align: center;
    width: 2em;
    height: 2em;
    border: 1px solid gray;
    line-height: 1.8em;
    border-radius: 50%;
    font-size: 3em;
    margin-left: 0.3em;
}